{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<!-- Begin Page Content -->
<!-- Main container fluid -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div
    class="d-sm-flex align-items-center justify-content-between mb-4"
  >
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Total Sales
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ₹ {{total_sales}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupees-sign fa-2x text-gray-300"></i>
              {% comment %} <i class="fas fa-calendar fa-2x text-gray-300"></i> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-danger text-uppercase mb-1"
              >
                Bypass S.K.U.'s (Today)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ total_bypass_sku }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupees-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Total Stock Value 
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    ₹ {{total_sku_rate}}
                  </div>
                </div>
                
                
              </div>
            </div>
            <div class="col-auto">
              <i
                class="fas fa-rupees-list fa-2x text-gray-300"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Pending Invoices
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ total_pending_invoices }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupees fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.container-fluid -->

{% endblock content %}

{% block js %}
<!-- Page level plugins -->
    <script src="{% static 'assets/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'assets/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/js/demo/chart-pie-demo.js' %}"></script>
{% endblock js %}
