{% extends 'base.html' %}
{% load static %}
{% block title %}Invoices{% endblock title %}
{% block css %}
<style>
  table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
    margin-right: 5 px;
  }
</style>
{% endblock css %}

{% block content %}
 <!-- Main Content -->
  <!-- Begin Page Content -->
  <div class="container-fluid">

    {% comment %} <div
        class="d-sm-flex align-items-center justify-content-between mb-4"
      >
        <h1 class="h3 mb-0 text-gray-800"></h1>
        
    </div> {% endcomment %}


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Invoice List </h6>
      </div>

      
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="invoiceDataTable"
            width="100%"
            cellspacing="0"
          >
            <thead class="thead-dark">
              <tr>
                <th>Sr.No.</th>
                <th>Invoice No</th>
                {% comment %} <th>Company Name</th> {% endcomment %}
                <th>Ledger Name</th>
                <th>Date</th>
                <th>Total Amount (&#8377)</th>
                <th>Status</th>
                <th>Action</th>
                {% if request.session.role == "ADMIN" or request.session.role == "EMPLOYEE" %}
                <th>Override</th>
                {% endif %}
              </tr>
            </thead>

            <tbody>
              {% for invoice in invoices %}
              <tr id="invoice-{{invoice.invoice_no}}">
                <td>{{ forloop.counter }}</td>
                <td>{{ invoice.invoice_no }}</td>
                <td>{{ invoice.invoice_party_name }}</td>
                <td>{{ invoice.invoice_date }}</td>
                <td>{{ invoice.total_amount }}</td>
                {% if invoice.status == "COMPLETED" %}
                <td>
                  <h6>
                    <span class="badge badge-success"> completed </span>
                  </h6>
                </td>
                {% elif invoice.status == "EXTRA" %}
                <td>
                  <h6>
                    <span class="badge badge-warning"> extra </span>
                  </h6>
                </td>
                {% else %}
                <td>
                  <h6>
                    <span class="badge badge-danger"> pending </span>
                  </h6>
                </td>
                {% endif %}
                <td>
                  <a href="{% url "invoice-details" invoice.invoice_no %}" class="btn btn-primary btn-circle btn-sm" title="View" data-toggle="tooltip">
                      <i class="fas fa-eye"></i>
                  </a>
                  <a href="{% url "invoice-verify" invoice.invoice_no %}" class="btn btn-warning btn-circle btn-sm" title="Scan" data-toggle="tooltip">
                      <i class="fas fa-edit"></i>
                  </a>

                  <a href="{% url "dispatch-invoice" invoice.invoice_no %}" class="btn btn-success btn-circle btn-sm {% if invoice.status == "COMPLETED" %}disabled{% endif %}" title="View" data-toggle="tooltip">
                      <i class="fas fa-check"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
<!-- End of Main Content -->
{% endblock content %}

{% block js %}
<script>
  $(document).ready(function () {
    $("#invoiceDataTable").DataTable({
      "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
    });
  });
</script>
{% endblock js %}
