{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Doshi Brothers | Reset Password</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-reset-password"
                style="background: url(https://cdn.pixabay.com/photo/2020/10/07/12/32/warehouse-5635000__340.jpg);background-position: center;background-size: cover;">
              </div>

              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Reset Your Password</h1>
                    <br />

                  </div>
                  {% with uidb64_value=request.resolver_match.kwargs.uidb64 token_value=request.resolver_match.kwargs.token %}

                  <form method="post" action="{% url 'reset-password' uidb64_value token_value %}"
                    class="user needs-validation" novalidate>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <div class="alert alert-{{ message.tags }}" alert-dismissible fade show" role="alert">

                      <strong>{{ message }}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    {% else %}
                    <div class="alert alert-danger" alert-dismissible fade show" role="alert">

                      <strong>{{ message }}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}



                    {% csrf_token %}

                    <div class="form-group">
                      <div class="form-group">


                        <label class="sr-only" for="newPassword">New Password</label>
                        <div class="input-group">

                          <input name="newPassword" type="password" autocomplete="off"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control form-control-user "
                            id="newPassword" placeholder="New Password" aria-describedby="inputGroupPrepend" required>
                          <span class="input-group-append">
                            <div id="togglePassword"
                              style=" border-bottom-right-radius: 25px; border-top-right-radius: 25px;"
                              class="form-control form-control-user input-group-text bg-transparent"><i
                                class="fa fa-eye" aria-hidden="true"></i></div>
                          </span>
                          <div class="invalid-feedback">
                            Please enter valid password.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="confirmPassword">Confirm Password</label>
                      <div class="input-group">

                        <input name="confirmPassword" type="password" autocomplete="off"
                          class="form-control form-control-user  myCpwdClass" id="confirmPassword"
                          placeholder="Confirm Password" aria-describedby="inputGroupPrepend" required>
                        <span class="input-group-append">
                          <div id="toggleConfirmPassword"
                            style=" border-bottom-right-radius: 25px; border-top-right-radius: 25px;"
                            class="form-control form-control-user input-group-text bg-transparent"><i class="fa fa-eye"
                              id="toggleConfirmPassword" aria-hidden="true"></i></div>
                        </span>
                        <div class="valid-feedback">

                        </div>
                        <div class="invalid-feedback">
                          Password not a match.
                        </div>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-user btn-block" id="submitBtn">
                      ResetPassword
                    </button>
                  </form>
                  {% endwith %}

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>

  <script>
    const togglePassword = document.getElementById('togglePassword');
    const password = document.getElementById('newPassword');

    togglePassword.addEventListener('click', function (e) {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      togglePassword.firstChild.classList.toggle('fa-eye-slash');

    })
  </script>


  <script>
    const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
    const confirmPassword = document.getElementById('confirmPassword');

    toggleConfirmPassword.addEventListener('click', function (e) {
      const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
      confirmPassword.setAttribute('type', type);
      toggleConfirmPassword.firstChild.classList.toggle('fa-eye-slash');
    })
  </script>


  <script>
    var myInputElements = document.querySelectorAll(".form-control");
    $('#confirmPassword').on('keyup', function () {
      if ($('#newPassword').val() != '' && $('#confirmPassword').val() != '' && $('#newPassword').val() == $('#confirmPassword').val()) {
        $('cPwdValid').show();
        $('#cPwdInvalid').hide();
        $('#cPwdInvalid').html('Passwords Match').css('color', 'green');
        $('.myCpwdClass').addClass('is-valid');
        $('.myCpwdClass').removeClass('is-invalid');
        $("#submitBtn").attr("disabled", false);
        $('#submitBtn').addClass('btn-primary').removeClass('btn-secondary');
        for (i = 0; i < myInputElements.length; i++) {
          var myElement = document.getElementById(myInputElements[i].id);
          if (myElement.classList.contains('is-invalid')) {
            $("#submitBtn").attr("disabled", false);
            $('#submitBtn').addClass('btn-primary').removeClass('btn-secondary');
            break;
          }
        }
      } else {
        $('#cPwdValid').hide();
        $('#cPwdInvalid').show();
        $('#cPwdInvalid').html('Not Matching').css('color', 'red');
        $('.myCpwdClass').removeClass('is-valid');
        $('.myCpwdClass').addClass('is-invalid');
        $("#submitBtn").attr("disabled", true);
        $('#submitBtn').addClass('btn-secondary').removeClass('btn-primary');
      }
    });


    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            // console.log(form[1].value != form[2].value);
            if (form.checkValidity() === false) {
              console.log(form[1].value, form[2].value)
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</body>

</html>