{% extends 'base.html' %}
{% load static %}
{% block title %}Stock Keeping Units{% endblock title %}
{% block css %}
<link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
  <!-- Main container fluid -->
  <div class="container-fluid">

       <!-- DataTales Example -->
       <div class="card shadow mb-4">
        <div class="card-header d-sm-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0 font-weight-bold text-primary">S.K.U. List</h6>

                
                <a
                  href="{% url 'generate-csv-sku-items' %}"
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                  ><i class="fas fa-download fa-sm text-white-50"></i> Download Excel</a
                >
                 
              
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="stockDataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                          <th>Sr.No.</th>
                          <th>S.K.U. Name</th>
                          {% if request.user.role == "ADMIN" or request.user.role == "EMPLOYEE" %}
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Base Qty</th>
                          {% endif %}
                          <th>Barcode No</th>
                          {% if request.session.role == "ADMIN" %}
                            <th>Action</th>
                          {% endif %}
                        </tr>
                    </thead>
                    
                    <tbody>
                      {% for stk in sku_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ stk.sku_name }}</td>
                            {% if request.user.role == "ADMIN" or request.user.role == "EMPLOYEE" %}
                              <td>{{ stk.sku_qty }}</td>
                              <td>{{ stk.sku_rate }}</td>
                              <td>{{ stk.sku_amount }}</td>
                              <td>{{ stk.sku_base_qty }}</td>
                            {% endif %}
                            <td>{{ stk.sku_serial_no }}</td>
                            {% if request.session.role == "ADMIN" %}
                            <td>
                              <button class="btn btn-warning btn-circle btn-sm update" data-toggle="modal" data-target="#updateDataModal" data-id="{{sku.id}}"><i class="fas fa-edit"></i>
                              </button>
                            </td>
                            {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <!--End container fluid-->
{% endblock content %}

{% block modals %}
  <!--Modal-->
  <div class="modal fade" id="updateDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update S.K.U.</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'update-sku' %}">

            {% csrf_token %}

            <div class="form-group row">
              <label for="sku-name" class="col-sm-2 col-form-label">S.K.U.
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="exampleInputSKU" name="update-sku-name"
                  minlength=2 disabled />
              </div>

            </div>

            <div class="form-group row">
              <label for="sku-base-qty" class="col-sm-2 col-form-label">Base Qty
              </label>
              <div class="col-sm-10">
                <input type="number" class="form-control form-control-sm" id="exampleInputBaseQty" name="update-sku-qty"
                  value="" min=1 />
              </div>
            </div>
            <div class="form-group row">
              {% comment %} <label for="sku-base-qty" class="col-sm-2 col-form-label">Base Qty
              </label> {% endcomment %}
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="exampleInputBarcode" name="update-sku-srno"
                  value="" {% comment %} hidden {% endcomment %} maxlength=13 hidden />
              </div>
            </div>
            <hr />
            <div class="form-group row ">
              <div class="col-sm-10 ">
                <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">
                  Cancel
                </button>
                <button class="btn btn-sm btn-primary" type="submit">Update</button>
              </div>
            </div>

        </div>
        </form>

      </div>
    </div>
  </div>
  <!--End-->
{% endblock modals %}

{% block js %}
<!-- Page level plugins -->
<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'assets/js/demo/datatables-demo.js' %}"></script>


<script>
  $(".update").click(function () {
    var $row = $(this).closest("tr");
    //console.log($row);
    $tds2 = $row.find("td:nth-child(2)");
    $tds6 = $row.find("td:nth-child(6)");
    $tds7 = $row.find("td:nth-child(7)");
    console.log($tds2.text(), $tds6.text(), $tds7.text());

    $('#exampleInputSKU').val($tds2.text());
    $('#exampleInputBaseQty').val($tds6.text());
    $('#exampleInputBarcode').val($tds7.text());

  });

  $(document).ready(function () {
    $("#stockDataTable").DataTable({
      "lengthMenu": [[10, 25, 50], [10, 25, 50]],
      "responsive": true,
      "search": {
        return: true
    }
      //"columnDefs": [{ "searchable": true }, "targets": [ 0 ]] 
    });

  }); 
</script>
{% endblock js %}