{% extends 'doshi/base.html' %}

{% block title %} Invoices {% endblock title %} 

{% block Content %} 
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        DataTables Example
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Serial No</th>
              <th>Invoice No</th>
              <th>Party Name</th>
              <th>Date</th>
              <th>Total Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
            {% for invoice in invoices %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ invoice.invoice_no }}</td>
              <td>{{ invoice.invoice_party_name }}</td>
              <td>{{ invoice.invoice_date }}</td>
              <td>{{invoice.invoice_total_amount }}</td>
              <td><a href="{% url 'invoice-verify' invoice.invoice_no %}" class="btn btn-info" role="button">View</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- /.container-fluid -->

{% endblock Content %}