{% load static %}
{% load doshi_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Doshi Brothers | Invoice</title>

    <!-- Custom fonts for this template -->
    <link
      href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="{% static 'assets/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this page -->
    <link
      href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      {% include 'doshi/sidebar.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'doshi/topbar.html'  with heading="" %}

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <div
                class="d-sm-flex align-items-center justify-content-between mb-4"
              >
                <h1 class="h3 mb-0 text-gray-800"></h1>
                
                <a
                  href="{% url 'all-invoices' %}"
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                  ><i class="fas fa-fw fa-table"></i>  All Invoices  </a
                >
            </div>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Invoice List </h6>
              </div>

              
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="invoiceDataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead class="thead-dark">
                      <tr>
                        <th>Serial No</th>
                        <th>Invoice No</th>
                        <th>Party Name</th>
                        <th>Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                        {% if request.session.role == "ADMIN" %}
                        <th>Dispatch</th>
                        {% endif %}
                      </tr>
                    </thead>

                    <tbody>
                      {% for invoice in invoices %}
                      <tr id="invoice-{{invoice.invoice_no}}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ invoice.invoice_no }}</td>
                        <td>{{ invoice.invoice_party_name }}</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td>{{ invoice.invoice_total_amount }}</td>
                        {% if invoice.invoice_item_scanned_status %}
                        <td>
                          <h6>
                            <span class="badge rounded-pill badge-success">Completed</span>
                          </h6>
                        </td>
                        {% else %}
                        <td>
                          <h6>
                            <span class="badge rounded-pill badge-danger">Pending</span>
                          </h6>
                        </td>
                        {% endif %}
                        
                        <td>
                          <a
                            href="{% url 'invoice-verify' invoice.invoice_no %}"
                            class="btn btn-sm btn-outline-info btn-block"
                            role="button"
                            >View</a
                          >
                          
                        </td>
                        {% if request.session.role == "ADMIN" %}
                          <td>
                            <button
                              class="btn btn-sm btn-warning btn-block dispatch" data-invoice="{{ invoice.invoice_no }}"
                              role="button"
                              >Dispatch</a>
                            
                          </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'doshi/footer.html'%}

      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js ' %}"></script>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'assets/js/demo/datatables-demo.js' %}"></script>

    <script>

      $(".dispatch").click(function(){
        var invoice_no = $(this).attr('data-invoice');
        $.ajax({
        type:"GET",
        url: "{% url 'dispatch-invoice' %}",
        data:{
          "invoice_no": invoice_no
        },
        success: function(val){

            if (val["status"] === "success")
            {
              console.log("helo");
              //$('#invoice-'+invoice_no).remove();
              location.reload();
            }
            else
              {
                const error_message = val['msg'];
                var alert_element = `<div class=" m-3 alert alert-danger alert-dismissible fade show" id="error-alert" role="alert"> <strong>${error_message}</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button></div>`;
                  $(".container-fluid").before(alert_element);
                }
        }

      })
      
      })
    </script>

    <script>
      $(document).ready(function () {
        $("#invoiceDataTable").DataTable({
          "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
        });
      });
    </script>
  </body>
</html>
