{% load static %}

<!-- Custom styles for this template-->
<link
href="{% static 'assets/css/sb-admin-2.min.css' %}"
rel="stylesheet"
/>

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="navbar-brand justify-content-center bg-light" style="margin: 0.5rem; border-radius:10px;" href="{% url 'index' %}">
        <img src="{% static 'assets/img/doshi.png' %}" class="rounded" alt="Logo" style="width:180px;">
    </a>
    
    {% if request.session.role == 'CLIENT' or request.session.role == 'CLIENT_HCH' %}

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - SKU Items-->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sku-items' %}">
                <i class="fas fa-chart-bar"></i>
                <span>SKU Items</span></a>
        </li>
    {% elif request.session.role == 'DISPATCHER' %}
   
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sku-items' %}">
            <i class="fas fa-chart-bar"></i>
            <span>SKU Items</span></a>
    </li>
    

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'invoices' %}">
            <i class="fas fa-file-alt"></i>
            <span>Scan Invoice</span></a>
    </li>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'bypass-products' %}">
            <i class="fas fa-reply"></i>
            <span>Bypassed Products</span></a>
    </li>
    

    {% else %}
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-home"></i>
            <span>Dashboard</span></a>
           
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>
    

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sku-items' %}">
            <i class="fas fa-chart-bar"></i>
            <span>SKU Items</span></a>
    </li>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'invoices' %}">
            <i class="fas fa-file-alt"></i>
            <span>Scan Invoice</span></a>
    </li>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'bypass-products' %}">
            <i class="fas fa-reply"></i>
            <span>Bypassed Products</span></a>
    </li>
{% endif %}
{% comment %} 
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> {% endcomment %}

</ul>
<!-- End of Sidebar -->


<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
