{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DOSHI | Reset Password</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-password" 
                                style="background: url(https://media.istockphoto.com/photos/package-boxes-on-pallets-loading-into-cargo-container-trucks-parked-picture-id1325350394?b=1&k=20&m=1325350394&s=170667a&w=0&h=BGi-oKh_zSaSjp8kqxDrHP5r55qyBdg54BLVFY3-6HM=);background-position: center;background-size: cover;">
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Verify OTP</h1>
                                        
                                    </div>
                                    <form method="post" action="{% url 'verify-otp' %}" class="user needs-validation" novalidate>
                                        
                                        

                                        {% if messages %}
                                            {% for message in messages %}
                                                {% if message.tags == "success" %}
                                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="otpAlert">
                                                        
                                                            <strong>{{ message }}</strong>
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                {% else %}
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="otpAlert">
                                                        
                                                        <strong>{{ message }}</strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" pattern="[0-9]{4}" name="verifyOTP"
                                                    id="verifyInputOTP" placeholder="Enter OTP" required>
                                                    <div class=" ml-3 valid-feedback"> Looks good!</div>
                                                    <div class=" ml-3 invalid-feedback">Please provide a valid 4 digit OTP.</div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block" id="btnVerifyOTP">
                                            Verify OTP
                                        </button>
                                        
                                    </form>
                                
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
    
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
</body>

</html>