{% extends 'auth/base.html' %}
{% load static %}
{% block title %}Verify OTP{% endblock title %}
{% block css %}
<style>
    .otp-field {
        flex-direction: row;
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .otp-field input {
        height: 45px;
        width: 42px;
        border-radius: 6px;
        outline: none;
        font-size: 1.125rem;
        text-align: center;
        border: 1px solid #ddd;
    }

    .otp-field input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    .otp-field input::-webkit-inner-spin-button,
    .otp-field input::-webkit-outer-spin-button {
        display: none;
    }

    .resend {
        font-size: 12px;
    }
</style>
{% endblock css %}

{% block content %}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-password"
                        style="background: url(https://media.istockphoto.com/photos/package-boxes-on-pallets-loading-into-cargo-container-trucks-parked-picture-id1325350394?b=1&k=20&m=1325350394&s=170667a&w=0&h=BGi-oKh_zSaSjp8kqxDrHP5r55qyBdg54BLVFY3-6HM=);background-position: center;background-size: cover;">
                    </div>

                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Verify OTP</h1>

                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == "success" %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"
                                id="otpAlert">

                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% else %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="otpAlert">

                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <div class="card bg-white mb-5 border-0">

                                <div class="card-body p-4 text-center">
                                    <p>Your code was sent to you via email</p>
                                    <form action="{% url 'verify-otp' %}" method="post">
                                        <div class="otp-field mb-4">
                                            {% csrf_token %}
                                            <input type="text" maxlength="1" pattern="\d" name="code_1" />
                                            <input type="text" maxlength="1" pattern="\d" name="code_2" disabled />
                                            <input type="text" maxlength="1" pattern="\d" name="code_3" disabled />
                                            <input type="text" maxlength="1" pattern="\d" name="code_4" disabled />
                                            <input type="text" maxlength="1" pattern="\d" name="code_5" disabled />
                                            <input type="text" maxlength="1" pattern="\d" name="code_6" disabled />
                                        </div>

                                        <button class="btn btn-primary mb-3" type="submit">
                                            Verify
                                        </button>
                                    </form>
                                    <p class="resend text-muted mb-0">
                                        Didn't receive code? <a href="#">Request again</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}

{% block js %}

<script>
    const inputs = document.querySelectorAll(".otp-field > input");
    const button = document.querySelector(".btn");

    window.addEventListener("load", () => inputs[0].focus());
    button.setAttribute("disabled", "disabled");

    inputs[0].addEventListener("paste", function (event) {
        event.preventDefault();

        const pastedValue = (event.clipboardData || window.clipboardData).getData(
            "text"
        );
        const otpLength = inputs.length;

        for (let i = 0; i < otpLength; i++) {
            if (i < pastedValue.length) {
                inputs[i].value = pastedValue[i];
                inputs[i].removeAttribute("disabled");
                inputs[i].focus;
            } else {
                inputs[i].value = ""; // Clear any remaining inputs
                inputs[i].focus;
            }
        }
    });

    inputs.forEach((input, index1) => {
        input.addEventListener("keyup", (e) => {
            const currentInput = input;
            const nextInput = input.nextElementSibling;
            const prevInput = input.previousElementSibling;

            if (currentInput.value.length > 1) {
                currentInput.value = "";
                return;
            }

            if (
                nextInput &&
                nextInput.hasAttribute("disabled") &&
                currentInput.value !== ""
            ) {
                nextInput.removeAttribute("disabled");
                nextInput.focus();
            }

            if (e.key === "Backspace") {
                inputs.forEach((input, index2) => {
                    if (index1 <= index2 && prevInput) {
                        input.setAttribute("disabled", true);
                        input.value = "";
                        prevInput.focus();
                    }
                });
            }

            button.classList.remove("active");
            button.setAttribute("disabled", "disabled");

            const inputsNo = inputs.length;
            if (!inputs[inputsNo - 1].disabled && inputs[inputsNo - 1].value !== "") {
                button.classList.add("active");
                button.removeAttribute("disabled");

                return;
            }
        });
    });

</script>
{% endblock js %}
